body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header header header header header header header header'
    'side main main main main main main main main'
    'side main main main main main main main main'
    'side main main main main main main main main';
}

p, h6{
    margin-top: 0px;
}

#prgrss-btn{
    background-color: #2da562;
}

#close-btn{
    background-color: #4384d2;
}

#prgrss-btn, #close-btn{
    width: 150px;
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    margin-left: 0;
}

#body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header header header header header header header header'
    'side side main main main main main right right'
    'side side main main main main main right right'
    'side side main main main main main right right';
}

.heading{
    background-color: #f0f0f0;  
}

#byall, #byopen, #bytickets{
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 3px;
    border-spacing: 50px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iss-title{
    display: inline-block;
}

.info{
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 20px;
    border-radius: 4px;
    border: 1px solid black;
    
}

.large-space{
    column-width: 250px;
}

.iss-stat .in-pro{
    text-align: center;
    background-color: #ffdb4d;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iss-stat .opn{
    text-align: center;
    background-color: #2da562;
    border-radius: 3px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iss-stat .clsd{
    text-align: center;
    background-color: #ff5400;
    border-radius: 3px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

span{
    color: #4384d2;
}

select option{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgrey;
}
.same-space{
    column-width: 120px;
}

#byall:hover, #byopen:hover, #bytickets:hover{
    background-color: #206bc1;
    color: white;
}

header{
    grid-area: header;
}

.main{
    margin-left: 25px;
    grid-area: main;
}

.side{
    grid-area: side;
    background-color:#f0f0f0;
    padding-bottom: 420px;
    padding-right: 20px;
}

.right{
    margin-top: 100px;
    margin-left: 20px;
    padding-right: 80px;
    grid-area: right;
}

select{
    border-style: solid;
    border-color: black;
    border-radius:5px;
    border-color: rgb(167, 162, 162);
    box-shadow: none;
    background-color: #f0f1f179;
    width: 400px;
    height: 25px;
}

.textf{
    border-style: solid;
    border-color: black;
    border-radius:5px;
    border-color: rgb(167, 162, 162);
    box-shadow: none;
    background-color: #f0f1f179;
    width: 400px;
    height: 25px;
}

textarea{
    border-style: solid;
    border-color: black;
    border-radius:5px;
    border-color: rgb(167, 162, 162);
    box-shadow: none;
    background-color: #f0f1f179;
    width: 400px;
    height: 50px;
}

.txtf{
    border-style: solid;
    border-color: black;
    border-radius:5px;
    border-color: rgb(167, 162, 162);
    box-shadow: none;
    background-color: #f0f1f179;
    width: 400px;
    height: 25px;
}

#submit-issue, #new-user{
    background-color: #206bc1;
    color: white;
    border: none;
    border-radius: 3px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

#new-issue-btn{
    background-color: #2da562;
    color: white;
    border: none;
    border-radius: 3px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-top: 15px;

}

#loginpge{
    text-align: center;
    background-image: url(images/bug-motif.jpg);
}

#lgn-btn{
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#lgn-btn:hover{
    background-color: #2da562;
    color: white;
}

label{
    font-size: 18px;
}

.fields{
    font-size: 14px;
    color: lightgray;
    border-radius: 5px;
}

h2{
    font-size: 50px;
    margin-bottom: 7px;
}

.floatthis{
    float: left;
    height: 20px;
    width: 20px;
    padding-right: 12px;
    padding-left: 25px;
    padding-top: 3px;
}

h1{
    color: white;
    font-size: 20px;
}

header{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black;
}

#home{
    list-style-image: url(images/home.svg);
    padding-top: 10px;
}

#add_user{
    list-style-image: url(images/add-user-symbol-of-interface.svg);
    padding-top: 10px;
}

#new_issue{
    list-style-image: url(images/add-button.svg);
    padding-top: 10px;
}

#logout{
    list-style-image: url(images/power.svg);
    padding-top: 10px;
}



